@import "./top-api/TopApi";
@import "./price/TellorPrice";
@import "./current-api/CurrentApi";
@import "./costs/Costs";
@import "./current-tip/CurrentTip";
@import "./Section";

.overview {


  .overview-box {
    background: theme-color("tellor-bg-light");
    min-height: 200px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(171,171,171,.25);
    border: 1px solid rgba(100,100,100,.3);

    &.graph {
      border-radius: 0 3px 3px 0;
    }


  }

  .tellor-label {
    line-height: 1em;
    font-size: .9rem !important;
  }

  .tellor-bg-light {
    background: theme-color("tellor-bg-light");
  }

  .overview-row {
    min-height: 200px;
  }
}
