.get-tokens-button {
  background: theme-color("bg-tellor-green");
  border-radius: 15px;
  border: 1px solid #BDBDBD;
  line-height: 15px;
  &:hover {
    background: theme-color("bg-purple-hover");
  }
}
