.activity-table-container {
  background: theme-color("tellor-bg-light");
  box-shadow: 2px 2px 2px 1px rgba(100,100,100,.3);
  border-radius: 0 0 3px 3px;

  .activity-header {
    min-height: 50px;
    border-radius: 5px 5px 0 0;
  }

}
