.info-container {
  background: theme-color("tellor-bg-light");
  box-shadow: 2px 2px 2px 1px rgba(100,100,100,.3);

  .item-row {
    min-height: 40px;
  }

  .hash-link {
    color: black;
    font-size: 1em;
  }

}
