.mined-slots {

  .slot {
    min-height: 20px;
    max-height: 20px;
    min-width: 20px;
    max-width: 20px;
    text-align: center;
    font-size: 1.1em;

    &.filled {
      background: theme-color("bg-tellor-green");
    }

    i {
      min-height: 15px;
      max-height: 15px;
      min-width: 15px;
      max-width: 15px;
    }
  }
}
