@import '../../../style/index.scss';

.HomeDatapoints {
    @include leftrow;
    width: 100%;
    box-sizing: border-box;
    padding: 96px 0 112px 0;
    p {
        @include fourteenpxfont;
        color: white;
    }
    a {

        @include fourteenpxfont;
        font-weight: normal;
    }
    .Datapoints {
        width: 716px;
        box-sizing: border-box;
        padding: 0 0 0 8.2vw;
    }
    .btns {
        flex: 1;
        @include centeredcolumn;
        Button {
            margin: 0 0 15px 0;
        }
        .linktotal {
            font-weight: bold;
            @include sixteenpxfont;
            margin: 30px 0 0 0;
        }
    }
}