// set variables

$green-1: #baffe1;
$green-2: #99ffd1;
$tellor-green: #5cfcb6;
$green-4: #37f3a1;
$hot-green: #00ff8f;

$background: #252525;
$grey-3: #151515;
$grey-2: #444444;
$grey-1: #777777;

$gradient: linear-gradient(125deg, $green-2, $hot-green);
$box-shadow: 0 10px 50px rgba(0, 0, 0, 0.08), 0 13px 45px rgba(0, 0, 0, 0.08);
