@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap');
@import 'variables';

body {
  background: var(--background-2);
  color: var(--color-primary-2);
}

h1,
h2,
h3,
h4 {
  font-weight: 100;
}

h1,
h2 {
  color: var(--color-heading);
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 1em;
}

a {
  color: var(--color-link);
}

.fader {
  animation: 1s ease-out fadeIn infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

// Specific Elements

.Header {
  display: flex;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  @media (max-width: 800px) {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .BrandLink {
    a {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      img {
        height: 60px;
        width: auto;
        display: inline-block;
      }
      span {
        color: var(--color-link);
        font-size: 21px;
        font-weight: 300;
        margin-bottom: -11px;
        font-weight: 500;
      }
      @media (max-width: 800px) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        span {
          display: none;
        }
      }
    }
  }
  &__Nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    @media (max-width: 800px) {
      margin-left: 0px;
    }
    > button {
      padding: 0px 15px !important;
    }
    > * {
      margin-left: 25px;
      font-size: 1.5em;
      color: var(--color-link);
      &:last-child {
        border: 2px solid var(--color-link);
        color: var(--color-link);
        border-radius: 50px;
        padding: 10px 15px;
        vertical-align: middle;
        transition: all 0.15s linear;
        cursor: pointer;
      }
      @media (max-width: 800px) {
        font-size: 1em;
        margin-left: 15px;
      }
    }
  }
}

.Hero {
  padding-top: 25px;
  background-color: var(--background);
}

.View {
  width: calc(100%);
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
  padding-bottom: 75px;
}

.TableHeader {
  h2 {
    margin: 0px;
    padding-left: 16px;
  }
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  a {
    margin-left: 15px;
    margin-top: 4px;
  }
}

.LoaderSmall {
  > div {
    position: absolute;
    display: inline-block;
    height: 36px;
    width: 36px;
    margin-top: -8px !important;
    margin-left: 5px !important;
  }
}

.BalanceStatus {
  span {
    margin-right: 10px;
  }
}

.ErrorMsg {
  color: #dd5858;
  font-size: 1.2em !important;
  margin-top: -15px;
  margin-bottom: 15px;
}

.Footer {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-secondary-1);
  &__Links {
    display: flex;
    > * {
      font-size: 1.5em;
      svg {
        fill: var(--color-secondary-1);
        transition: all 0.15s linear;
        &:hover {
          fill: #00ff8f;
        }
      }
    }
    > *:not(:last-child) {
      margin-right: 15px;
    }
  }
}

// --- Ant Overrides ---

// Header

.ant-layout-header {
  background: var(--background);
  height: auto;
  padding: 0px 50px;
}

// Buttons

button {
  border-radius: 50px;
}

.ant-btn {
  border-radius: 50px;
  color: var(--color-primary-1);
  &:hover {
  }
  &-primary {
    color: var(--color-secondary-2);
    &:hover,
    &:focus {
      color: var(--color-secondary-2);
    }
  }
  &-default {
    background: transparent;
    &:hover,
    &:focus {
      background: var(--color-primary-5);
      color: var(--color-secondary-2);
    }
  }
  &:disabled {
    opacity: 0.25;
  }
}

// Tables

.ant-table-wrapper {
  max-width: 1200px;
  width: 100%;
}

.ant-table {
  background: transparent;
  font-family: 'Roboto Mono', monospace;
  table {
    border: none !important;
  }
  &:not(.expanded) {
    color: var(--color-primary-2);
  }
}

.ant-table-thead > tr > th {
  color: var(--color-table-thead);
  background: transparent;
  border-bottom: 1px solid var(--background);
}

tr.ant-table-expanded-row,
tr.ant-table-expanded-row:hover {
  background: transparent;
}

.ant-table-tbody > tr > td {
  border-bottom: 1px solid var(--background);
  transition: all 0.3s, border 0s, color 0ms;
}

.ant-table-thead
  > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td,
.ant-table-tbody
  > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td,
.ant-table-thead
  > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td,
.ant-table-tbody
  > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td {
  background: rgba(153, 255, 209, 0.1);
  color: var(--color-primary-2);
}

.ant-table-row-expand-icon-cell {
  cursor: pointer;
  span {
    pointer-events: none;
    color: var(--color-primary-5);
  }
}

tr.ant-table-expanded-row > td,
tr.ant-table-expanded-row:hover > td {
  background: rgba(153, 255, 209, 0.1);
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td,
.ant-table tfoot > tr > th,
.ant-table tfoot > tr > td {
  padding: 16px 0px;
}

// Expanded Table Row

.ant-table-tbody > tr .ant-table-wrapper:only-child .ant-table {
  margin-left: -16px;
  margin-right: -16px;
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td,
.ant-table tfoot > tr > th,
.ant-table tfoot > tr > td {
  padding: 16px 16px;
}

.ant-table-bordered .ant-table-thead > tr > th,
.ant-table-bordered .ant-table-tbody > tr > td {
  border-right: none;
}

.ant-table-expanded-row
  .ant-table-tbody
  .ant-table-row
  .ant-table-cell:last-child {
  text-align: right;
}

.ant-table-cell p {
  margin: 0;
}

.ant-table-row.expanded {
  background-color: var(--color-primary-1);
  color: #151515 !important;
  &:hover .ant-table-cell {
    color: #151515 !important;
  }
  .ant-table-row-expand-icon-cell {
    cursor: pointer;
    span {
      pointer-events: none;
      color: #151515;
    }
  }
}

// Pagination

.ant-pagination {
  &.ant-table-pagination {
    margin: 16px;
  }
  .ant-pagination-item:not(.ant-pagination-item-active) {
    background-color: transparent;
    border: none;
    &.ant-pagination-item-active {
      background-color: transparent;
    }
  }
  .ant-pagination-item {
    background-color: transparent;
    border-radius: 50px;
  }
  .ant-pagination-prev,
  .ant-pagination-next {
    .ant-pagination-item-link {
      border: none;
      background-color: transparent;
    }
  }
  .ant-pagination-disabled {
    .ant-pagination-item-link {
      border: none;
      background-color: transparent;
    }
  }
}

// Notification

.ant-notification-notice {
  background: var(--color-secondary-2);
}

// Modal

.ant-modal-mask {
  background-color: rgba(0, 0, 0, 0.85);
}

.ant-modal-content {
  background-color: var(--modal-color-background);
  h6 {
    color: var(--color-table-thead);
  }
  p {
    font-size: 21px;
    color: var(--color-primary-2);
  }
}

.ant-modal-header {
  background-color: var(--modal-color-background);
  border-bottom: 1px solid var(--background);
  .ant-modal-title {
    font-size: 24px;
    color: var(--color-heading);
  }
}

.ant-modal-footer {
  background-color: var(--modal-color-background);

  .ant-btn {
    &-default {
      color: var(--modal-color-btn-default);

      &:focus,
      &:hover {
        color: var(--color-secondary-2);
      }
    }
  }
}

.ant-modal-close {
  color: var(--color-primary-1);
}

.ant-layout-content {
  background-color: var(--background-2);
}

// Dropdown

.ant-dropdown {
  border-radius: 5px !important;
  .ant-dropdown-menu {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: var(--modal-color-background);
    .ant-dropdown-menu-item {
      color: var(--color-link);
      &:hover {
        background-color: var(--color-primary-5);
        color: var(--color-secondary-2);
      }
    }
  }
}

// Responsive Adjustments

@media all and (max-width: 800px) {
  .ant-table-expanded-row
    .ant-table-tbody
    .ant-table-row
    .ant-table-cell:first-child {
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .ant-layout-header {
    padding-left: 15px;
    padding-right: 15px;
  }
}



// Migration specifics (by Bennisan)

.Migration .Intro {
  box-sizing: border-box;
  padding: 70px 0 0 0;
  // background-color: black;
  background-color: var(--background);
}

.Migration .View {
  padding-bottom: 50px;
}
.Migration .Line {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  margin: 0 0 0 0;
}

.Migration h1, .Migration p, .Migration h2, .Migration li {
  // color: white;
}

.Migration h1 {
  font-size: 2em;
  margin: 0 0 22px 0;
}
.Migration p, .Migration li {
  font-size: 1rem !important;
  line-height: 1.65rem;
  font-weight: 100;
}

.Migration li {
  margin-top: 10px;
}

.Migration h2 {
  margin-bottom: 20px;
}

.Migration h1, .Migration .ant-collapse, .Migration .RadioGroup, .Migration li {
  max-width: 685px;
}

.Migration .ant-collapse, .Migration .ant-collapse-content {
  background-color: transparent;
  border: none;
  // color: white;
}

.Migration .ant-collapse > .ant-collapse-item {
  border: none;
}


.Migration .ant-collapse > .ant-collapse-item > .ant-collapse-header {
  color: var(--color-heading);
  text-decoration: underline;
}

.Migration .RadioGroup {
  display: flex;
  flex-direction: column;
}


.Migration .RadioItem {
  box-sizing: border-box;
  padding: 15px;
  border-radius: 5px;
  margin: 0 0 10px 0;
  background-color: #151515;
}

.wselected .ant-radio-wrapper {
  opacity: 0.2;
}

.Migration .wselected .ant-radio-wrapper-checked {
  opacity: 1 !important;
}

.Migration .Step {
  box-sizing: border-box;
  padding: 40px 0 50px 0;
}

.Migration .Step button {
  margin: 10px 0 20px 0;
}

.Migration .connected {
  margin: 30px 0 0 0;
}


.Migration .connected span {
  font-weight: bold;
  // color: white;
}

.Migration .Balances {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 25px 0 20px 0;
}


.Migration .Balance {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 40px 0 0;
}

.Migration .Balance p {
  font-size: 13px !important;
  margin: 0 0 0 0;
}


.Migration .Balance h1 {
  color: var(--color-link);
}


.halfop {
  opacity: 0.2;
}

.fullop {
  opacity: 1;
}

.Success {
  background-color: var(--background);
  box-sizing: border-box;
  padding: 50px 0 25px 0;
  h1 {
    // color: black;
    font-weight: normal;
  }
}

.leftrow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.copier {
  margin: 1px 10px 0 10px;
  font-size: 1rem !important;

  color: var(--color-heading);
}