@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;700&display=swap');

@font-face {
  font-family: 'Renogare Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Renogare Regular'), url('../assets/Renogare-Regular.woff') format('woff');
  }

$background: #262626;
$tellor-grey1: #F2F2F2;
$tellor-grey2: #F0F0F0;
$darkestgrey: #555555;
$tellor-green: #2DFC9F;
$real-tellor-green: #20F092;



/* gradient mixins */
@mixin greenshine {
  background: $tellor-green;
  background: linear-gradient(90deg, #2DFC9F 0%, #00FB89 100%);
}

/* font mixins */
@mixin tenpxfont {
  font-size: 0.625rem !important;
  line-height: 0.85rem !important;
}

@mixin twelvepxfont {
  font-size: 0.75rem !important;
  line-height: 1rem !important;
}

@mixin fourteenpxfont {
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
}

@mixin sixteenpxfont {
  font-size: 1rem !important;
  line-height: 1.5rem !important;
}

@mixin eighteenpxfont {
  font-size: 1.125rem !important;
  line-height: 1.75rem !important;
}

/* general mixins */
@mixin centeredrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin centeredcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin leftrow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@mixin leftcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@mixin rightrow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

@mixin rightcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}


body {
  background-color: $background;
  color: black;
  font-family: 'Inconsolata', monospace;
}

a, a:hover, a:active, a:focus {
  @include sixteenpxfont;
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

p {
  @include twelvepxfont;
}

h2,
h3,
h4 {
  font-weight: 100;
}

h1 {
  font-weight: 700;
  font-size: 1.75em;
  color: $darkestgrey;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 1em;
}

/* general classes */
.fader {
  animation: 1s ease-out fadeIn infinite;
}
.flexer {
  flex: 1;
}
.bold {
  font-weight: bold;
}
.green {
  color: $tellor-green;
}

.viewContainer {
  box-sizing: border-box;
  width: 100%;
  padding: 207px 0 0 0;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}



// --- Ant Overrides ---


// Buttons

button {
  border-radius: 0;
}

.ant-btn {
  @include sixteenpxfont;
  background-color: transparent;
  border: 1px solid white;
  border-bottom: 2px solid white;
  color: white;
  height: 54px;
  box-sizing: border-box;
  border-radius: 0;
  padding: 14px 24px 16px 24px;
  transition: all 0.025s linear;
  width: auto;
  font-weight: bold;
  min-width: 200px !important;

  span {
    line-height: 1.1725rem;
  }
  
  @media (max-width: 965px) {
    padding: 12px 30px;
    height: 40px;
    @include fourteenpxfont;
  }


  &:disabled {
    @include greenshine;

    span {
      opacity: 0.5;
    }
  }

  &:hover,
  &:focus {
    background-color: transparent;
    border: 1px solid white;
    border-bottom: 2px solid white;
    color: white;
    outline: none;
  }

  &:active {
    transform: scale(0.995)
  }
}

[ant-click-animating-without-extra-node]:after {
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
}

.ant-dropdown-trigger {
  background: transparent;
  box-shadow: none;
  outline: none;

  &:disabled {
    background: transparent;
    box-shadow: none;
    outline: none;
  }

  &:hover,
  &:focus {
    background: transparent;
    box-shadow: none;
    outline: none;
    color: $darkestgrey !important;
  }
}


// Dropdown Menu

.ant-dropdown-menu {
  box-shadow: none;
  border-radius: 0;
  padding: 4px 0 0 0;
}

.ant-dropdown-menu,
.ant-dropdown-arrow {
  margin: -5px 0 0 0;
}

.ant-dropdown-menu-item {
  @include sixteenpxfont;
  color: $darkestgrey;
  border-bottom: 1px solid $tellor-grey2;
  padding: 8px 12px;

  &:hover {
    background: transparent;
    color: $tellor-green;
  }
}

.ant-table {
  color: $darkestgrey;
}

// Pagination

.ant-pagination {
  color: $darkestgrey;

  &-item {
    background: none;
    border: none;
    border-radius: 50%;

  }

  &-item-active {
    background: none;
    border: 1px solid $tellor-green;
  }

}


.ant-pagination-item a {
  color: $darkestgrey;

  &:hover {
    color: $tellor-green;
  }
}


.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
  border: none;
  background: none;
  color: $darkestgrey;

}

/* Button extra's */

.bigbutton {
  height: 74px;
  box-sizing: border-box;
  padding: 27px 50px;
}

.blackbutton,
.blackbutton:hover,
.blackbutton:focus,
.blackbutton:active {
  border: 1px solid $background;
  border-bottom: 2px solid $background;
  color: $background;
}

.horizontal_btns {
  @include centeredrow;
  Button {
    margin: 0 10px
  }
}

.fxw {
  min-width: 360px !important;
}
















// Migration specifics (by Bennisan)

.Migration {
  width: 100%;
  min-height: 60vh;
  box-sizing: border-box;
  padding: 0 6vw 100px 6vw;
  @include leftcolumn;

  .Intro {
    box-sizing: border-box;
    padding: 20px 0 0 0;
    background-color: var(--background);

    .View {
      padding-bottom: 50px;
      color: $darkestgrey;
    }
  }

  .Line {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    margin: 0 0 0 0;
    width: 100%;
  }

  h1 {
    font-size: 2rem;
    line-height: 2.85rem;
    font-weight: 100;
    margin: 0 0 22px 0;
  }

  .ant-collapse,
  .ant-collapse-content {
    background-color: transparent;
    border: none;
    color: $darkestgrey;
    font-weight: bold;
    @include sixteenpxfont;
  }

  p,
  li {
    @include sixteenpxfont;
    font-weight: normal;
  }

  li {
    margin-top: 10px;
  }

  h2 {
    margin-bottom: 20px;
  }

  h1,
  .ant-collapse,
  .RadioGroup,
  li {
    max-width: 685px;
  }

  .ant-collapse>.ant-collapse-item {
    border: none;
  }

  .ant-collapse>.ant-collapse-item>.ant-collapse-header {
    text-decoration: underline;
  }

  .RadioGroup {
    display: flex;
    flex-direction: column;
  }

  .RadioItem {
    box-sizing: border-box;
    padding: 15px;
    border-radius: 5px;
    margin: 0 0 10px 0;
    background-color: #151515;
  }

  .wselected .ant-radio-wrapper {
    opacity: 0.2;
  }

  .wselected .ant-radio-wrapper-checked {
    opacity: 1 !important;
  }

  .Step {
    box-sizing: border-box;
    padding: 40px 0 50px 0;
  }

  .Step button {
    margin: 10px 0 20px 0;
  }

  .connected {
    margin: 30px 0 0 0;
  }


  .connected span {
    font-weight: bold;
    // color: white;
  }

  .Balances {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 25px 0 20px 0;
  }


  .Balance {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 40px 0 0;
  }

  .Balance p {
    font-size: 13px !important;
    margin: 0 0 0 0;
  }

  .Balance h1 {
    color: var(--color-link);
  }

  .halfop {
    opacity: 0.2;
  }

  .fullop {
    opacity: 1;
  }


  .Success {
    width: 100%;
    background-color: $tellor-green;
    box-sizing: border-box;
    padding: 50px 0 25px 0;

    h1 {
      font-weight: normal;
      text-align: center;
      max-width: 100%;
    }
  }

  .leftrow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .copier {
    margin: 1px 10px 0 10px;
    font-size: 1rem !important;
    cursor: pointer;
    color: var(--color-heading);
  }

}