@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap');
@import 'variables';

body {
  background: $background;
  color: $green-1;
}

h1,
h2,
h3,
h4 {
  font-weight: 100;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 1em;
}

// Specific Elements

.Hero {
  padding-top: 25px;
  background-color: black;
}

.View {
  width: calc(100%);
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
  padding-bottom: 75px;
}

.TableHeader {
  h2 {
    margin: 0px;
    padding-left: 16px;
  }
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  a {
    margin-left: 15px;
    margin-top: 4px;
  }
}

.LoaderSmall {
  > div {
    position: absolute;
    display: inline-block;
    height: 36px;
    width: 36px;
    margin-top: -8px !important;
    margin-left: 5px !important;
  }
}

.BalanceStatus {
  span {
    margin-right: 10px;
  }
}

.ErrorMsg {
  color: #dd5858;
  font-size: 0.75em !important;
  margin-top: -15px;
  margin-bottom: 15px;
}

// Ant overrides

// Header

.ant-layout-header {
  background: #000;
  height: auto;
}

// Buttons

button {
  border-radius: 50px;
}

.ant-btn {
  border-radius: 50px;
  color: $tellor-green;
  &:hover {
  }
  &-primary {
    color: #444444;
    &:hover,
    &:focus {
      color: #444444;
    }
  }
  &-default {
    background: transparent;
    &:hover,
    &:focus {
      background: $hot-green;
      color: #444444;
    }
  }
  &:disabled {
    opacity: 0.25;
  }
}

// Tables

.ant-table {
  background: transparent;
  font-family: 'Roboto Mono', monospace;
  &:not(.expanded) {
    color: $green-1;
  }
}

.ant-table-thead > tr > th {
  color: $hot-green;
  background: transparent;
}

tr.ant-table-expanded-row,
tr.ant-table-expanded-row:hover {
  background: transparent;
}

.ant-table-thead > tr > th {
  border-bottom: 1px solid #000;
}

.ant-table-tbody > tr > td {
  border-bottom: 1px solid #000;
}

.ant-table-thead
  > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td,
.ant-table-tbody
  > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td,
.ant-table-thead
  > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td,
.ant-table-tbody
  > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td {
  background: rgba(153, 255, 209, 0.1);
  color: $green-1;
}

.ant-table-row-expand-icon-cell {
  cursor: pointer;
  span {
    pointer-events: none;
    color: $hot-green;
  }
}

tr.ant-table-expanded-row > td,
tr.ant-table-expanded-row:hover > td {
  background: rgba(153, 255, 209, 0.1);
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td,
.ant-table tfoot > tr > th,
.ant-table tfoot > tr > td {
  padding: 16px 0px;
}

// Expanded Table Row

.ant-table-tbody > tr .ant-table-wrapper:only-child .ant-table {
  margin-left: -16px;
  margin-right: -16px;
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td,
.ant-table tfoot > tr > th,
.ant-table tfoot > tr > td {
  padding: 16px 16px;
}

.ant-table-expanded-row
  .ant-table-tbody
  .ant-table-row
  .ant-table-cell:last-child {
  text-align: right;
}

.ant-table-cell p {
  margin: 0;
}

.ant-table-row.expanded {
  background-color: $tellor-green;
  color: #151515 !important;
  &:hover .ant-table-cell {
    color: #151515 !important;
  }
  .ant-table-row-expand-icon-cell {
    cursor: pointer;
    span {
      pointer-events: none;
      color: #151515;
    }
  }
}

// Pagination

.ant-pagination {
  &.ant-table-pagination {
    margin: 16px;
  }
  .ant-pagination-item:not(.ant-pagination-item-active) {
    background-color: transparent;
    border: none;
    &.ant-pagination-item-active {
      background-color: transparent;
    }
  }
  .ant-pagination-item {
    background-color: transparent;
    border-radius: 50px;
  }
  .ant-pagination-prev,
  .ant-pagination-next {
    .ant-pagination-item-link {
      border: none;
      background-color: transparent;
    }
  }
  .ant-pagination-disabled {
    .ant-pagination-item-link {
      border: none;
      background-color: transparent;
    }
  }
}

// Modal

.ant-modal-mask {
  background-color: rgba(0, 0, 0, 0.85);
}

.ant-modal-content {
  background-color: #444444;
  p {
    font-size: 21px;
  }
}

.ant-modal-header {
  background-color: #444444;
  border-bottom: 1px solid #000;
  .ant-modal-title {
    font-size: 24px;
  }
}

.ant-modal-close {
  color: $tellor-green;
}

// Responsive Adjustments

@media all and (max-width: 800px) {
  .ant-table-expanded-row
    .ant-table-tbody
    .ant-table-row
    .ant-table-cell:first-child {
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .ant-layout-header {
    padding-left: 15px;
    padding-right: 15px;
  }
}
