@import "./streaming/ChallengeTable";
@import "./apiInQ/APIinQ";

.activity-container {
  background: transparent !important;

  .activity-box {

  }

  .activity-header {
    min-height: 50px;
    border-radius: 5px 5px 0 0;
  }
}
