@import "./MainSearch";
@import "./overview/Overview";
@import "./activity/Activity";
@import "./modals/Modals.scss";

.dashboard-container {
  background: theme-color("main-bg");

  .request-button-wrapper {
    background: transparent;

    .request-button {
      background: theme-color("bg-tellor-green");
      color: white;
      font-weight: bold;
      border-radius: 20px;
      border: 1px solid #BDBDBD;
      &:hover {
        background: theme-color("bg-purple-hover");
      }
    }
  }

  .activity-container {
    background: theme-color("tellor-bg-light");
  }

}
